.btn {
  display: block;
  margin: 0 auto;

  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em);

  border-color: transparent;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: var(--transition-hover-bg);

  &:hover,
  &:focus {
    background: var(--secondary-blue-color);
  }
}
