.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__menu {
  display: none;
  gap: 50px;
  margin-left: 93px;
  @include tablet {
    display: flex;
  }
  .link {
    @include font(500, null, 1.14, 0.02em);
    color: var(--primary-text-color);
    display: block;
    padding: 32px 0px;
    transition: var(--transition-hover-color);
    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
      position: relative;
    }
  }
}

.current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__contacts {
  display: none;
  gap: 50px;
  margin-left: auto;
  align-items: center;
  @include tablet {
    display: flex;
  }
  .link {
    @include font(500, null, 1.14, 0.02em);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    transition: var(--transition-hover-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-mob__btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-open {
  margin-left: auto;
  @include tablet {
    display: none;
  }
}
.menu-mob {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: var(--primary-white-color);
  z-index: 1;
}
.container-mob {
  position: relative;
  padding: 48px 40px;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-close:focus {
  color: var(--accent-color);
}
.menu-close__icon {
  fill: currentColor;
}

.menu-mob-list {
  margin-bottom: 64px;
}

.menu-mob-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  .link {
    @include font(500, 35px, 1.18, 0.02em);
    color: var(--primary-text-color);
    @include mobile {
      @include font(500, 40px, 1.18, 0.02em);
      color: var(--primary-text-color);
    }
  }
  .studio {
    color: var(--accent-color);
  }
}

.contacts-mob-list {
  margin-bottom: 64px;
}
.contacts-mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-link-tel {
  @include font(500, 26px, 1.18, 0.02em);
  color: var(--accent-color);
  @include mobile {
    @include font(500, 34px, 1.18, 0.02em);
    color: var(--accent-color);
  }
}
.mob-link-mail {
  @include font(500, 24px, 1.17, 0.02em);
  color: var(--secondary-text-color);
}
.soc-mob-list {
  display: flex;
}
.soc-mob-list__item {
  &:not(:first-child) {
    margin-left: 10px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: -5px;
      width: 2px;
      height: 22px;

      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  @include mobile {
    &:not(:first-child) {
      margin-left: 20px;
      &::before {
        content: '';
        left: -10px;
      }
    }
  }
}
.soc-mob-list__link {
  @include font(500, 14px, 1.17, 0.02em);
  color: var(--accent-color);
  @include mobile {
    @include font(500, 18px, 1.22, 0.02em);
    color: var(--accent-color);
  }
}
